html
  head
    title Activities
    script(src='/vendor/js-cookie/src/js.cookie.js')
    script(src='/vendor/lodash/dist/lodash.js')
    script(src='/vendor/editablegrid/editablegrid.js')
    script(src='/vendor/editablegrid/editablegrid_utils.js')
    script(src='/vendor/editablegrid/editablegrid_renderers.js')
    script(src='/vendor/editablegrid/editablegrid_editors.js')
    script(src='/vendor/db.js/dist/db.min.js')
    script(src='/vendor/moment/moment.js')
    script(src='/vendor/polyline/src/polyline.js')
    script(src='/public/js/script.js')
    link(rel='stylesheet' href='/vendor/skeleton/css/normalize.css')
    link(rel='stylesheet' href='/vendor/skeleton/css/skeleton.css')
  body
    #container
      h2 Activities
      .row
      #activity-filter
        form(class='filter-form')
          label Days of the week
          select
            option(value='weekdays') Weekdays
            option(value='weekends') Weekends
      #tablecontent.row
