html
  head
    title Activities
    link(rel='stylesheet' href='/vendor/skeleton/css/normalize.css')
    link(rel='stylesheet' href='/vendor/skeleton/css/skeleton.css')
  body
    #container
      h2 Activities
      .row
      #activity-filter
        form(class='filter-form')
          label Days of the week
          select
            option(value='weekdays') Weekdays
            option(value='weekends') Weekends
      #tablecontent.row
    script(src='/vendor/editablegrid/editablegrid.js')
    script(src='/vendor/editablegrid/editablegrid_utils.js')
    script(src='/vendor/editablegrid/editablegrid_renderers.js')
    script(src='/vendor/editablegrid/editablegrid_editors.js')
    script(src='/public/js/bundle.js')
