html
  head
    title Jasmine Spec Runner
    link(rel='shortcut icon' href='/vendor/jasmine-core/images/jasmine_favicon.png')
    link(rel='stylesheet' href='/vendor/jasmine-core/lib/jasmine-core/jasmine.css')
  body
    script(src='/vendor/jasmine-core/lib/jasmine-core/jasmine.js')
    script(src='/vendor/jasmine-core/lib/jasmine-core/jasmine-html.js')
    script(src='/vendor/jasmine-core/lib/jasmine-core/boot.js')

    script(src='/vendor/editablegrid/editablegrid.js')
    script(src='/vendor/editablegrid/editablegrid_utils.js')
    script(src='/vendor/editablegrid/editablegrid_renderers.js')
    script(src='/vendor/editablegrid/editablegrid_editors.js')
    script(src='/public/js/bundle.test.js')
